.dashboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid red;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}
